# https://git-scm.com/docs/git-config
[apply]
	whitespace = nowarn

[color]
	ui = true

[color "branch"]
  	current = white bold
	local   = yellow
	remote  = cyan

[color "diff"]
  	frag = cyan bold
	meta = white
	new = green bold
	old = red bold
	commit = yellow bold
	whitespace = red reverse

[color "diff-highlight"]
  	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "status"]
	untracked = cyan

[commit]
	template = ~/.gitmessage

[core]
  	autocrlf     = input
	excludesfile = ~/.gitignore_global
	ignorecase   = false
	safecrlf     = warn
	abbrev       = 7
	editor       = emacs

[diff]
	tool = ediff
	submodule = log

[merge]
	tool = ediff

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFXS
	log = less -+X

[fetch]
	prune = true

[include]
	path = ~/.gitconfig.local

